* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: 'Dosis', sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.center{
  align-self: center;
}

.title {
  font-size: 2em;
  height: 3em;
  font-weight: 300;
  color: #5b5b5b;
}
